body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0%;
    background-color: white;
    font-size: 15px;
}

#container {
    width: 50%;
    height: 20em;
    display: flex;
}

.card {
    width: 33.33%;
    height: 100%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8em;
    line-height: 1.7em;
}

.card:hover {
    width: 50%;
    cursor: pointer;
    transition: ease-in-out;
}

#card-1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}

#card-2 {
    background-color: hsl(184, 100%, 22%);
}

#card-3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}

.learn-btn {
    border: none;
    border-radius: 2em;
    height: 2.3em;
    width: 8em;
}

.learn-btn:hover {
    cursor: pointer;
    border: 2px solid white;
    color: white;
}

#btn-1 {
    color: hsl(31, 77%, 52%);
}

#btn-1:hover {
    background-color: hsl(31, 77%, 52%);
    color: white;
    transition: 0.4s ease-in-out;
}

#btn-2 {
    color: hsl(184, 100%, 22%);
}

#btn-2:hover {
    background-color: hsl(184, 100%, 22%);
    color: white;
    transition: 0.4s ease-in-out;
}

#btn-3 {
    color: hsl(179, 100%, 13%);
} 

#btn-3:hover {
    background-color: hsl(179, 100%, 13%);
    color: white;
    transition: 0.4s ease-in-out;
}